/* Chrome、Safari隐藏滚动条 */
::-webkit-scrollbar {
  display: none;
}

/* 兼容 Edge 和 Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background-color: #1e1e1e;
}
.waterfall-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.waterfall-container img {
  width: 250px;
  height: 160px;
}
.circle-container {
  position: fixed;
  width: 600px;
  min-width: 250vw; /*屏幕宽度 */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 5.5%);
  z-index: 10;
  animation: rotateIn 4s ease-in-out forwards;
}

@keyframes rotateIn {
  0% {
    transform: translate(-50%, 5.5%) rotate(60deg);
  }
  80% {
    transform: translate(-50%, 5.5%) rotate(-20deg);
  }
  100% {
    transform: translate(-50%, 5.5%) rotate(0deg);
  }
}

/* 添加一个类来控制滚动时的旋转 */
.circle-container.scrolling {
  animation: none;
}

.paper-title {
  font-family: PingFang-SC-Medium;
  color: #d9d9d9;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: -1.1%;

  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translate(-50%, 0);
}
.circle-item {
  position: absolute;
  width: 350px; /* 图片大小 */
  left: 50%;
  top: 50%;
  transform-origin: center;
  object-fit: cover;
  cursor: pointer;
}
/* .circle-item:hover {
  opacity: 0.9;
} */
/* 为每个图片设置位置 - 示例为8张图片 */
.circle-item:nth-child(1) {
  transform: translate(-50%, -50%) rotate(345deg) translateY(-140vw);
}
.circle-item:nth-child(2) {
  transform: translate(-50%, -50%) rotate(0deg) translateY(-140vw);
}
.circle-item:nth-child(3) {
  transform: translate(-50%, -50%) rotate(15deg) translateY(-140vw);
}
.circle-item:nth-child(4) {
  transform: translate(-50%, -50%) rotate(30deg) translateY(-140vw);
}

.mask-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}
.img-pre {
  position: relative;
  object-fit: cover;
}
.img-pre:nth-child(1) {
}
.img-pre:nth-child(2) {
  top: 20rem;
  left: 10rem;
}
.img-pre:nth-child(3) {
  top: 10rem;
  left: 30rem;
}
.img-pre:nth-child(4) {
  top: 45rem;
  left: 40rem;
}
.img-pre:nth-child(5) {
  left: 40rem;
}
.img-pre:nth-child(6) {
  top: 30rem;
}
