.container-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle-color {
  position: absolute;
  top: 1%;
  left: 13%;
  transform: translate(-50%, -50%);

}

.circle-color2 {
  /* width: 50px;
  height: 50px; */
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.img-bg-1 {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

header>img {
  position: absolute;
  bottom: 0;
}

header>img:nth-child(2) {
  left: 8%;
}

video {
  width: 100%;
  height: 100%;
  scale: 1.2;
  object-fit: cover;
  position: relative;
  top: -5rem;
}

.bg-clip {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main-bg {
  width: 100%;
  background-image: url('../assets/imgs/background.webp');
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-clip-1 {
  position: absolute;
  bottom: 12rem;
  left: 0;
  z-index: 1;
}

.svg-clip-2 {
  position: absolute;
  bottom: 10rem;
  right: 40%;
  z-index: 1;
}

.poem {
  height: 100vh;
  padding-top: 8%;
  width: 100%;
  position: relative;
}

.bg-svg {
  width: 100%;
  position: absolute;
  top: 0;
}

p {
  font-family: 'PingFang-SC-Semibold';
  width: fit-content;
  color: #462204;
  line-height: 244%;
  letter-spacing: 6%;
}

.poem-title {
  font-size: 3rem;
}

.poem-author {
  font-size: 2rem;
  line-height: 200%;
  transform: translateY(-1.5rem);
}

.poem-content {
  font-family: 'PingFang-SC-Medium';
  font-size: 2rem;
}

.poem-main {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: end;
}

.poem-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20rem;
  min-width: 31rem;
}

.cloud-1 {
  width: 100%;
  margin: 0 auto;
  position: relative;
  right: 20rem;
}

.cloud-2 {
  position: relative;
  top: -3rem;
  margin: 0 20rem 0 0;
}

.cloud-3 {
  position: relative;
  top: -4rem;
  margin: 0 0 0 10rem;
}

.marquee-section {
  overflow-x: hidden;
  width: 100%;
  margin-top: 5rem;
}

.marquee-container {
  display: flex;
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}

.marquee-container div {
  display: flex;
}

.marquee-container span {
  margin-right: 2rem;
  /* me-8 */
  scale: 0.65;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.agricultural-change {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.agricultural-change-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.agricultural-change-bg svg {
  width: 100%;
  height: 100%;
}

.land-container {
  height: 100%;
}

.land-container svg {
  width: 100%;
  height: 100%;
}

.land-green {
  width: 100%;
  height: 100vh;
  background-color: #137c41;
  position: relative;
}

.jigsaw-bg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.land-green-start {
  margin-top: 6rem;
  transform: translateY(0.5rem);
}

.land-green-end {
  margin-bottom: 6rem;
  transform: translateY(-2px);
}

.land-title-1,
.land-title-2 {
  color: #428a87;
  font-weight: 400;
}

.land-green-title {
  margin-top: 0rem;
  padding-top: 1rem;
  font-family: 'fangfang';
  line-height: 150%;
  font-size: 4rem;
  letter-spacing: -1.1%;
  margin-left: 8rem;
  position: relative;
}

.land-green-title h6 {
  font-size: 2rem;
  padding: 0;
  opacity: 0.7;
  transform: translateY(-2rem);
}

.land-green-title>div,
h5+span {
  display: flex;
  align-items: center;
}

#jigsaw {
  max-width: 66rem;
  max-height: 67rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: grid;
  grid-template-columns: 386px 386px;
  grid-template-rows: 274px 284px;
}

.jigsaw-main-svg1,
.jigsaw-main-svg3 {
  justify-self: end;
}

.jigsaw-main-svg2,
.jigsaw-main-svg4 {
  justify-self: start;
}

.jigsaw-main-svg1,
.jigsaw-main-svg4 {
  position: relative;
  scale: 0.71;
}

.jigsaw-main-svg2,
.jigsaw-main-svg3 {
  position: relative;
  width: 100%;
  z-index: 10;
  transition: none;
}

.jigsaw-main-svg1 {
  top: -39%;
  left: 17%;
}

.jigsaw-main-svg2 {
  right: 18.5%;
  top: 11.5%;
  cursor: pointer;
}

.jigsaw-main-svg3 {
  top: 1.5%;
  left: 18.5%;
  cursor: pointer;
}

.jigsaw-main-svg4 {
  top: -46%;
  right: 19%;
}

.plow-container {
  padding-top: 2rem;
  width: 100%;
  height: 100vh;
  position: relative;
  opacity: 0;
}

.plow-text-container {
  width: 100%;
  margin-top: 2rem;
}

.plow-text {
  width: fit-content;
  margin: 0 auto;
}

.plow-text p {
  font-family: PingFang-SC-Regular;
  font-size: 1.5rem;
  line-height: 144%;
  letter-spacing: -1.1%;
  text-align: center;
  width: 100%;
}

.text-color {
  color: #137c41;
}

.plow-container>svg {
  width: 100%;
  position: absolute;
  bottom: 10rem;
}

.plow-mid {
  width: 100%;
  height: 60%;
  position: relative;
}

.plow-main,
.plow-mask1 {
  height: 100%;
  width: 90%;
  border-radius: 180px;
  margin: 0 auto;
}

.plow-main {
  /* background-color: #137c41; */
  background-image: url('../assets/imgs/origin（人间安澜）/和光集.png');
  padding: 4rem 12rem;
}

.plow-mask1 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6.399999618530273px);
  z-index: 20;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mask-title,
.mask-sub {
  line-height: 144%;
  letter-spacing: -1.1%;
  text-align: center;
}

.mask-sub img {
  scale: 0.9;
  margin-left: 0.5rem;
}

.mask-title {
  font-family: FZ;
  font-weight: 400;
  font-size: 46px;
  color: #137c41;
  text-shadow: 0px 4px 16px rgba(255, 255, 255, 1);
}

.mask-sub {
  font-family: 'PingFang-SC-Medium';
  font-size: 1.5rem;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.mask-sub:hover {
  cursor: pointer;
  opacity: 0.7;
}

.plow-section {
  overflow: hidden;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

.plow-section img {
  width: 130px;
}

.plow-section-container {
  display: flex;
  white-space: nowrap;
  animation: scroll 160s linear infinite;
}

.plow-section-container div {
  display: flex;
}

.plow-section-container span {
  margin-right: 2rem;
  /* me-8 */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}