body {
  width: 100vw;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../assets/imgs/background.webp);
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
}

.container {
  width: 70%;
  margin: 20px auto;

  padding: 20px;
}

hr {
  position: relative;
  border: none;

  border-top: 1px solid #00000025;
}

.header {
  width: 100%;
  height: 120px;
  display: flex;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.back-button {
   position: fixed;
   top: -10px;
   left: 20px;
}

.title {
  width: 40%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.title-side {
  margin-bottom: -10px;
}

.title-nd {
  text-align: center;
}

.content {
  line-height: 1.6;
}

.content-time {
  text-align: center;
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.date {
  width: 80%;
  color: #0b0b0b;
  font-size: 14px;
  margin: 0 auto 10px auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
  text-indent: 2em;
  /* 首行缩进 2 字符 */
}

.content {
  padding-left: 20px;
  /* 内容左侧缩进 */
  padding-right: 20px;
  /* 内容右侧缩进 */
}

.title-nd {
  padding-left: 20px;
  /* 标题左侧缩进 */
  padding-right: 20px;
  /* 标题右侧缩进 */
}

img {
  display: block;
  margin: 0 auto;
}
