* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: all 0.5s;
  /* 禁止选中文字 */
  user-select: none;
  /* transition: all 0.5s; */
}
 

html {
  font-size: 12px;
}
@font-face {
  font-family: "fangfang";
  src: url("../assets/fonts/字魂100号-方方先锋体.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PingFang-SC-Semibold";
  src: url("../assets/fonts/PingFang Semibold.ttf") format("truetype");
  /* font-weight: 600; */
}
@font-face {
  font-family: "PingFang-SC-Medium";
  src: url("../assets/fonts/PingFang Medium.ttf") format("truetype");
  /* font-weight: 500; */
}
@font-face {
  font-family: "PingFang-SC-Regular";
  src: url("../assets/fonts/PingFang Regular.ttf") format("truetype");
  /* font-weight: 400; */
}
@font-face {
  font-family: "ZS";
  src: url("../assets/fonts/STZhongsong-regular.ttf") format("truetype");
  /* font-weight: 400; */
}
@font-face {
  font-family: "shangshouxingyu";
  src: url("../assets/fonts/No.327-ShangShouXingYuTi-2.ttf") format("truetype");
  /* font-weight: 300; */
}
@font-face {
  font-family: "logo-name";
  src: url("../assets/fonts/ZC0005-Regular-2.ttf") format("truetype");
  /* font-weight: 300; */
}
@font-face{
  font-family:'Ajia';
  src: url('../assets/fonts/AaJiJiaHei-2.ttf') format('truetype');
}
@font-face{
  font-family:'FZ';
  src: url('../assets/fonts/FZJZJW.TTF') format('truetype');
}
a {
  color: #000000;
}
.tooltip {
  position: fixed;
  display: none;
  background-color: white;
  color: #462204;
  font-family: fangfang;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
  z-index: 1000;
  transform: none;
  white-space: nowrap;
}