/* page3耕与今昔 */
.details {
  z-index: 10;
}
.p3-gray {
  background-color: #221a019c;
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(15px);
}
.details .close-bt {
  position: absolute;
  top: 15vh;
  left: 3vw;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  scale: 1.2;
  background-color: #36a265;
  box-shadow: 0 0 20px #d7d7d7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3e66e;
  font-size: 3rem;
}
.details .close-bt svg{
  scale: 0.8;
}
.details .today,
.details .past {
  display: flex;
  margin: 30px;
  width: 140vw;
  height: 40vh;
  background-color: #ffffffba;
}
.details .today {
  position: relative;
  left: 20%;
  justify-content: flex-start; /* 现代农业靠左对齐 */
}
.details .past {
  position: relative;
  left: -20%;
  flex-direction: row-reverse; /* 翻转布局方向 */
  align-items: center;
  justify-content: flex-end; /* 改为靠左对齐 */
}
.details .past .carousel {
  flex-direction: row-reverse; /* 翻转轮播方向 */
}
.details .carousel {
  display: flex;
  align-items: center;
  width: 70vw;
  overflow: hidden;
}
.details .carousel li {
  position: relative;
}
.details .carousel li img {
  width: 15vw;
  height: 33vh;
  margin-left: 50px;
}
.details .past .carousel li .name {
  position: absolute;
  font-family: "fangfang"; /* 使用方方先锋体 */
  top: 0px;
  left: 50px;
  width: 30px;
  padding: 10px 10px;
  background-color: #a39d9dbd;
  z-index: 20;
  writing-mode: vertical-rl; /* 添加竖排显示 */
}
.details .today .carousel li .name {
  position: absolute;
  font-family: "fangfang"; /* 使用方方先锋体 */
  top: 0px;
  right: 0px;
  width: 30px;
  padding: 10px 10px;
  background-color: #a39d9dbd;
  z-index: 20;
  writing-mode: vertical-rl; /* 添加竖排显示 */
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}
.today-title,
.past-title {
  font-family: "fangfang"; /* 使用方方先锋体 */
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 15px;
}
.today-title span,
.past-title span {
  writing-mode: vertical-rl;
  font-size: 4rem;
}
